.bar{
    padding: 10px;
    padding-bottom: 0px;
    width: 80%;
    height: 320px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0;
}
.text{
    
    display: flex;  
    justify-content: space-between;  
}

@media screen and (max-width: 800px){
    .text{
        display: flex;
        flex-direction: column;
    }
}