.Mainpage{
    position: absolute;
    left: 300px;
}
.mainpage{    
    display: flex;
    gap: 5px;
    margin-top: 5px
}
input{
    position: relative;
    left: 300px;
}
table{
    width: 100%;
}
table, tr{
    border: 1px solid black;
   
}
.search{
    position: relative;
    left: 20px
}
.chart{
    display: flex;
}
.textandinput{
    display: flex;
    justify-content: space-between;
}
.rowarrange{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 800px){
    .chart{
        display: flex;
        flex-direction: column;
    }
    .textandinput{
        display: flex;
        flex-direction: column;
    }
    .mainpage{
        display: flex;
        flex-direction: column;
    }
    
    .rowarrange{
        display: flex;
        flex-direction: column;
    }
}
