.sidesection{    
    position: absolute;
    left: 0;
    color: white;
    margin-top: 0;    
    height: 100vh;
    width: 20vw;
    background-color:  blue;
    padding: 5px;
}
span{
    position: relative;
    bottom: 6px;
    padding-left: 8px;
}
.arrow{
    position: relative;
    left: 20px;
}
.heading{    
    position: relative;
    right: 60px
}
 .bottomtext{
    display: flex;
    position: absolute;
    bottom: 0px;
} 
.textandname{
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* .bottomtext{
    background-color: lightblue;
}  */
.iconright{
    position: relative;
    left: 50px;  
}
/*.arrows{
    position: relative;
    left: 4px
}
.MuiSvgIcon-root{
    position: relative;
    left: 40px
} */
.heading1{
    background-color: lightblue;
}
/* .iconright{
    position: relative;
    left: 50px;  
}
.arrows{
    position: relative;
    left: 4px
} */


